/* Card section */
.card_container  {
    margin-top: 30px;
    padding: 44px 22px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  
  .card_wrapper {
     width: 400px;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     height: 300px;
     background-color: var(--color-grey);
     border: 1px solid blue;
     border-radius: 10px;
  }
  
  .card_width {
     display: flex;
     border: 1px solid blue;
     width: 380px;
     height: 280px;
     background-color: var(--color-add);
     gap: 22px;
     flex-direction: column;
     padding: 12px;
     padding-top: 30px;
  }

  .card_para {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
  }
  
  .card_width span {
     font-size: 19px;
     font-weight: 600;
  }
  
  .cards  {
    display: flex;
    justify-content: start;
    align-items:start;
  }
  
  .error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 40px;
  }

/* *************MEDIA QUERIES (SMALL DEVICES) */

@media screen and (max-width: 400px) {
    .card_wrapper {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 300px;
        background-color: var(--color-grey);
        border: 1px solid blue;
        border-radius: 10px;
     }
     
     .card_width {
        display: flex;
        border: 1px solid blue;
        width: 90%;
        height: 280px;
        background-color: var(--color-add);
        gap: 22px;
        flex-direction: column;
        padding: 12px;
        padding-top: 30px;
     }
}